<style>
#header {
    background-color:#000000;
    color:#ffffff;
    text-align:right;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#ffffff;
    height:auto;
    width:150px;
    float:left;
    padding:5px; 
    position:relative;
    min-height:100%;
}
#section {
    width:700px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
</style>
